body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background-color: #9caa20;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.text {
    text-align: center;
}

p {
    margin: 0 0 5px;
}


/* acordion*/

.acordion {
    max-width: 500px;
    margin: 20px auto;
}

.acordion-item {
    margin-bottom: 5px;

    border: 1px solid #1fd36a;
}